[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
ipython = "*"
pandas = "*"
jinja2 = "*"
xlrd = "*"
schedule = "*"
django-apscheduler = "*"

[dev-packages]

[requires]
python_version = "3.9"
