<div class="container-fluid">
    <div class="row-fluid">
        <nav class="navbar navbar-expand-sm bg-gray">
            <div class="col-6">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url('craft:table_display', kwargs={'table_name':'pbom'}) }}">Bom</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url('craft:table_display', kwargs={'table_name':'controlplan'}) }}">ControlPlan</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url('craft:table_display', kwargs={'table_name':'station'}) }}">Station</a></li>
<!--                    <li class="nav-item"><a class="nav-link" href="{{ url('craft:table_display', kwargs={'table_name':'table_list'}) }}">settings</a></li>-->
                </ul>
            </div>
            <div class="col-6">
                <ul class="nav navbar-nav pull-right ">
                    <li class="nav-item"><a class="nav-link" href="{{ url('craft:stations') }}"><i class="bi bi-house"></i>Home</a></li>
                </ul>

            </div>

    </nav>

</div>
    <hr>
</div>