<div class="container">
    <div>
        <ul>

            <li class="active">
                <button type="button" class="btn btn-info">
                    <a href="#">
                        <i class="bi bi-house">Home</i>
                    </a>
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-info ">
                    <a href="#">
                        <i class="bi bi-pencil">item1</i>
                    </a>
                </button>
            </li>
            <li>
                <button type="button" class="btn btn-info">
                    <a href="#">
                        <i class="bi bi-pencil">item2</i>
                    </a>
                </button>
            </li>
        </ul>

    </div>
</div>