{% extends 'daily_focus/base.html' %}

{% block title %}
upload focus
{% endblock title %}


{% block content %}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <button id="id_submit" class="btn btn-primary">更改确认提交</button>
            <button class="btn btn-primary"><a href="{{ url('daily_focus:focus_record', args=(focus.id,)) }}">打印跟踪单</a></button>

            <form id="id_focus_form" class="layui-form" method="post" action="." enctype="multipart/form-data">
                <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                {% for field in focus_form %} <br>
                <div class="layui-form-item">
                    {{ field.label_tag() }}
                    {% if field.name == 'focus_start' or field.name == 'focus_end' %}
                    <p>原值:{{ focus.__getattribute__(field.name) }}</p>
                    {% endif %}
                    {{ field }}
                </div>
                {% endfor %}
            </form>
        </div>
    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>
                    <button class="btn btn-warning" id="layer_id_upload_after_image_btn">跟进图片上传</button>
                </li>
                <li>
                    <div class="layer_photos_div" style="float:left; padding:20; margin:20px; border:1px solid">
                        {% for image in focus.after_images.all() %}
                        <laber>
                            <button class="btn btn-warning" onclick="delete_after_image(this);" onmouseenter="delete_tips(this);">id-{{ image.id }} <i class="bi bi-trash"></i></button>
                            <img src="{{ image.image.url }}" onclick="image_show(this)" width="200" height="200" alt="{{ focus.station }}">
                        </laber>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <ul>
                <li>
                    <button class="btn btn-warning" id="layer_id_upload_image_btn">如有新图片，请上传</button>
                </li>
                <li>
                    <div class="layer_photos_div" style="float:left; padding:20; margin:20px; border:1px solid">
                        {% for image in focus.images.all() %}
                        <label>
                            <button class="btn btn-warning" onclick="delete_image(this);" onmouseenter="delete_tips(this);">id-{{ image.id }} <i class="bi bi-trash"></i></button>
                            <img src="{{ image.image.url }}" onclick="image_show(this)" width="200" height="200" alt="{{ focus.station }}">
                        </label>
                        {% endfor %}
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>


<div style="display:none" id="layer_id_focus_image_div">
    <form id="layer_id_focus_image_form" class="dropzone_not" method="post" action="." enctype="multipart/form-data">
        <input id="id_focus_image_input" type="file" name="image" multiple>
    </form>
</div>

<div style="display:none" id="layer_id_focus_after_image_div">
    <form id="layer_id_focus_after_image_form" class="dropzone_not" method="post" action="." enctype="multipart/form-data">
        <input id="id_focus_after_image_input" type="file" name="image" multiple>
    </form>
</div>
{% endblock content %}


{% block scripts %}
{{ super() }}

<script>
    function delete_image(self){
        layer.tips('delete image', self);
        var image_src = $(self).parent().children('img').attr('src');
        var formdata = new FormData;
        formdata.append('image_src', image_src);

        $.ajax({
            url: "{{ url('daily_focus:delete_focus_image') }}",
            method: 'POST',
            data: formdata,

            contentType: false,
            processData: false,

            success: function(result){
                layer.msg(result);
            },
        });
    };

    function delete_tips(self){
        layer.tips('点击删除该图片', self);
    }

    function delete_after_image(self){
        layer.tips('delete after_image', self);
        var after_image_src = $(self).parent().children('img').attr('src');
        var formdata = new FormData;
        formdata.append('after_image_src', after_image_src);

        $.ajax({
            url: "{{ url('daily_focus:delete_focus_after_image') }}",
            method: 'POST',
            data: formdata,

            contentType: false,
            processData: false,

            success: function(result){
                layer.msg(result);
            },
        });
    }
</script>


<script>
var last_val = $("#id_line").val();
var station_select = null;
setInterval(function(){
    var now_val = $("#id_line").val();
    if (now_val != last_val){

        var line_station_dict = JSON.parse('{{ line_station_dict | tojson | safe }}')
        station_select = $('<select name="station" id="layer_pop_station"></select>');
        var option0 = $('<option value=""></option>');
        station_select.append(option0);
        for ( let station of line_station_dict[now_val]){
            let option = $('<option value="' + station + '">' +  station + '</option>');
            station_select.append(option);
        }

        last_val = now_val;
    }
},1000);

$("#id_station").focus(function(){
    layer.open({
        type: 1,
        title: '选择工位',
        content: $(station_select).prop("outerHTML"),
        btn:['确定', '取消'],

        yes: function(){
            //把弹出框选择的值，写到输入框中，然后关掉弹出框。
            $("#id_station").val($("#layer_pop_station").val());
            layer.close(layer.index);
        },


    });

});


var focus_formdata = new FormData();

$("#layer_id_upload_image_btn").click(function(){
    layer.msg('click upload image');
    var index_open1 = layer.open({
        type: 1,
        title: '图片上传',
        content: $("#layer_id_focus_image_div"),
        btn: ['确认', '取消'],

        yes: function(){
            var upload_images = $("#id_focus_image_input")[0].files;
            if (upload_images.length == 0){
                layer.msg('请选择上传文件。');
            }else{
                for(let image of upload_images){
                    focus_formdata.append('images', image, image.name);
                }

            layer.close(index_open1);

            }
        },
    });
});

$("#layer_id_upload_after_image_btn").click(function(){
    layer.msg('click upload after_image');
    var index_open1 = layer.open({
        type: 1,
        title: '图片上传',
        content: $("#layer_id_focus_after_image_div"),
        btn: ['确认', '取消'],

        yes: function(){
            var upload_images = $("#id_focus_after_image_input")[0].files;
            if (upload_images.length == 0){
                layer.msg('请选择上传文件。');
            }else{
                for(let image of upload_images){
                    focus_formdata.append('after_images', image, image.name);
                }

            layer.close(index_open1);

            }
        },
    });
});

$("#id_submit").click(function(){
    var form_data1 = new FormData($("#id_focus_form")[0]);

    for(let [key,value] of form_data1.entries()){
        focus_formdata.append(key, value);
    }


    $.ajax({
        url: " {{ url('daily_focus:focus_detail', args=(focus.id,)) }} ",
        type: "POST",
        data: focus_formdata,

        contentType: false,
        processData: false,
        success:function(result){
            layer.msg(result);
            location.reload();  //防止重复上传图片.

        },
    });
});

</script>

<script type="text/javascript">
function image_show(self){
    layer.photos({
        photos: $(self).parents('div.layer_photos_div')[0],
        anim: 5,
    });
}

</script>

{% endblock scripts %}