{% extends 'daily_focus/base.html' %}


{% block title %}
focus record
{% endblock title %}

{% block styles %}
<style>

</style>

{% endblock styles %}

{% block header %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">每日关注项目跟踪单 </h1>
            <br>
            <p class="text-center">确认信息ok后，用浏览器预览并打印</p>
            <br>
        </div>
    </div>
</div>

{% endblock header %}


{% block sidebar %}
<h3 class="text-center">每日确认</h3>

<table class="table table-striped table-bordered " >

    <thead>
    <th>日期</th>
    <th>签名</th>
    </thead>
    <tbody>
    {% for day in focus_days %}
    <tr>
        <td>
            {{ day.strftime('%m月%d日') }}
        </td>
        <td>

        </td>
    </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2">
            <p>
                1、记录人：班组长或工程师；
                <br>
                2、确认内容，关注内容的执行情况和实物状态；
                <br>
                3、如有异常，及时纠正并记录；
            </p>
        </td>
    </tr>
    </tfoot>

</table>
<div>
    <h3>异常记录：</h3>
</div>

{% endblock sidebar %}


{% block content %}
<h3 class="text-center">关注详情</h3>

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered text-center">
                <thead>
                <th>关注开始</th>
                <th>关注结束</th>
                <th>线体</th>
                <th>工位</th>
                </thead>
                <tbody>
                <tr>
                    <td>{{ focus.focus_start }}</td>
                    <td>{{ focus.focus_end }}</td>
                    <td>{{ focus.station.line }}</td>
                    <td>{{ focus.station }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered text-center">
                <thead>
                <th>备注说明（可输入或手写补充）</th>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <textarea name="tips" id="id_tips" cols="150" rows="15"></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped table-bordered text-center">
                <thead>
                <th>关注内容描述</th>
                <th>问题图片</th>
                </thead>
                <tbody>
                <tr>
                    <td>{{ focus.focus_content }}</td>
                    <td>
                        <div class="layer_photos_div" style="float:left; padding:20; margin:40px; border:1px solid">
                            {% for image in focus.images.all() %}
                            <img src="{{ image.image.url }}" onclick="image_show(this)" width="200" height="200" alt="{{ focus.station }}">
                            {% endfor %}
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock content %}

{% block scripts %}
{{ super() }}


<script>
<!--    强调边框，便于打印-->
    $(function(){
        $('th, td').css('border', '2px solid');
    })

</script>

{% endblock scripts %}