{% extends 'daily_focus/base.html' %}

{% block title %}
focus list
{% endblock title %}


{% block content %}

<h2><strong>历史关注</strong><small>---- <i class="bi bi-arrow-right-circle"></i> <a class="btn btn-primary" href="{{ url('daily_focus:focus_today') }}">今日关注</a></small></h2>
<table   data-toggle="table" data-show-columns="true" data-search="true"
         data-show-pagination-switch="true"
         class="table-striped table-sm table table-bordered"
>
    <thead class="thead-dark">
    <tr>
        <th data-sortable="true">ID</th>
        <th data-sortable="true">关注内容</th>
        <th data-sortable="true">关注开始</th>
        <th data-sortable="true">关注结束</th>
        <th data-sortable="true">图片数量</th>
        <th data-sortable="true">线体</th>
        <th data-sortable="true">工位</th>
        <th data-sortable="true">发布人</th>
    </tr>
    </thead>
    <tbody>
    {% for focus in all_focus %}
        <tr>
            <td>{{ focus.id }}</td>
            <td><a style="color:blue" href="{{ url('daily_focus:focus_detail', args=(focus.id,)) }}"> {{ focus.focus_content |filter_trim_quote }} <i class="bi bi-mouse2" ></i> </a></td>
            <td>{{ focus.focus_start }}</td>
            <td>{{ focus.focus_end }}</td>
            {% if focus.images.count() > 0 %}
                <td style="background-color:yellow">
            {% else %}
                <td>
            {% endif %}
                {{ focus.images.count() }}
                </td>
            <td>{{ focus.line }}</td>
            <td>{{ focus.station }}</td>
            <td>{{ focus.user }}</td>

        </tr>
    {% endfor %}
    </tbody>

</table>


{% endblock content %}


{% block scripts %}
{{ super() }}

<script type="text/javascript">
function image_show(self){

    layer.photos({
        photos: $(self).parent()[0],
        anim: 5,

    });
}

</script>


{% endblock scripts %}