{% extends 'craft/base.html' %}

{% block title %}
daily foucs
{% endblock title %}


{% block content %}

<h2><strong>今日关注</strong></h2>
<a class="btn btn-info text-right" id="daily_foucs_manual_button" onclick="daily_manual()">手动添加关注条目</a>

<table   data-toggle="table" data-show-columns="true" data-search="true"
         data-show-pagination-switch="true"
         class="table-striped table-sm table table-bordered"
>
    <thead class="thead-dark">
    <tr>
        {% for col in header_list %}
        <th data-sortable="true">{{ col }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in body_data %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

</table>





{% endblock content %}






{% block scripts %}
{{ super() }}

<div id="foucs_date_form" style="display:none" class="container">
        <form class="layui-form" method="post" action=".">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            <div class="layui-form-item">
                <label class="layui-form-label">关注内容</label>
                <div class="layui-input-block">
                    <input type="text" id="input_daily_manual" name="daily_manual" class="layui-input" placeholder="请输入关注事项">
                </div>

            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">关注开始</label>
                <div class="layui-input-block">
                    <input id="input_daily_start" class="layui-input" type="date" name="daily_start" placeholder="请输入关注时间段的开始日期">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">关注结束</label>
                <div class="layui-input-block">
                    <input id="input_daily_end" type="date" class="layui-input" name="daily_end" placeholder="请输入关注时间段的结束日期">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">发布人</label>
                <div class="layui-input-block">
                    <input type="text" id="input_daily_faburen" class="layui-input" name="daily_fabufren" placeholder="请输入发布人姓名">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">线体选择</label>
                <div class="layui-input-block">
                    <select name="line" id="input_daily_line" name="daily_line">
                        <option value=""></option>
                        {% for line in line_list %}
                        <option value="{{ line }}">{{ line }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">关注工位</label>
                <div class="layui-input-block">
                    <input type="text" id="input_daily_station" class="layui-input" name="daily_station" placeholder="请输入关注工位">
                </div>
            </div>

        </form>
    </div>


<script>

$("#id_line_select").change(function(){
    layer.msg('onchange run');
    line = $("#id_line_select").val();
    line_station_dict = JSON.parse('{{ line_station_dict | tojson | safe }}')

    station_select = $('<select name="station"></select>');
    option0 = $('<option value=""></option>');
    station_select.append(option0);

    for ( let station of line_station_dict[line]){
        option = $('<option value="' + station + '">' +  station + '</option>');
        station_select.append(option);
    }

    $("#id_station_select").append(station_select);

    $("#id_station_select").prepend(options);
});

function daily_manual(){

        layer.msg('click foucs');
        var foucs_data = {};
        foucs_data['table_name'] = "手动输入";

        layer.open({
            type: 1,
            title: '手动添加关注条目',
            btn:['提交关注', '取消'],
            content: $("#foucs_date_form"),

            success: function(){
                $("#id_line_select").change(function(){
                    line = $("#id_line_select").val();
                    line_station_dict = JSON.parse('{{ line_station_dict | tojson | safe }}')

                    station_select = $('<select name="station"></select>');
                    option0 = $('<option value=""></option>');
                    station_select.append(option0);

                    for ( let station of line_station_dict[line]){
                        option = $('<option value="' + station + '">' +  station + '</option>');
                        station_select.append(option);
                    }

                    $("#id_station_select").append(station_select);

                    $("#id_station_select").prepend(options);
                });
            },

            btn1: function(){
                var foucs_data_daily_manual = $("#input_daily_manual").val();
                var foucs_data_daily_start = $("#input_daily_start").val();
                var foucs_data_daily_end = $("#input_daily_end").val();
                var foucs_data_daily_faburen = $("#input_daily_faburen").val();
                var foucs_data_daily_station = $("#input_daily_station").val();
                var foucs_data_daily_line = $("#input_daily_line").val();
                foucs_data['context'] = foucs_data_daily_manual;
                foucs_data['daily_start'] = foucs_data_daily_start;
                foucs_data['daily_end'] = foucs_data_daily_end;
                foucs_data['daily_faburen'] = foucs_data_daily_faburen;
                foucs_data['daily_station'] = foucs_data_daily_station;
                foucs_data['daily_line'] = foucs_data_daily_line;

                foucs_data['table_name'] = '手动输入';

                // btn内部运行ajax
                $.ajax({
                    url:"{{ url('craft:foucs_add') }}",
                    data: JSON.stringify(foucs_data),
                    type: 'POST',

                    success: function(result){
                        layer.close(layer.index);
                        layer.msg('该项目已加入【今日关注】，您可以移步查看', {time: 3000});
                        location.reload();
                    },

                    fail: function(result){
                        layer.msg('抱歉！添加失败，请再次尝试或联系管理员。');
                    }
                })
            }
        });

}

</script>
{% endblock scripts %}

