{% extends 'craft/base.html' %}

{% block title %}
craft home
{% endblock title %}

{% block content %}
<h2>bootstrap-table test</h2>

<table data-search="true" data-show-columns="true" data-toggle="table">
    <thead>
    <tr>
        <th>th1</th>
        <th>th2</th>
        <th>th3</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>row1 td1</td>
        <td>row1 td1</td>
        <td>row1 td1</td>
    </tr>
    <tr>
        <td>row2 td1</td>
        <td>row2 td1</td>
        <td>row2 td1</td>
    </tr>
    <tr>
        <td>row3 td1</td>
        <td>row3 td1</td>
        <td>row3 td1</td>
    </tr>
    </tbody>

</table>

{% endblock content %}


{% block scripts %}
    {{ block.super }}

<script>
    $(function(){
        $('table').attr('data-toggle','table');
        $('table').attr('data-search', 'true');


    })

</script>

{% endblock scripts %}