{% extends 'craft/base.html' %}

{% block title %}
craft home
{% endblock title %}

{% block content %}
<h2>bootstrap-table test</h2>

<table data-search="true" data-show-columns="true" data-toggle="table">
    <thead>
    <tr>
        <th>th1</th>
        <th>th2</th>
        <th>th3</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>row1 td1</td>
        <td>row1 td1</td>
        <td>row1 td1</td>
    </tr>
    <tr>
        <td>row2 td1</td>
        <td>row2 td1</td>
        <td>row2 td1</td>
    </tr>
    <tr>
        <td>row3 td1</td>
        <td>row3 td1</td>
        <td>row3 td1</td>
    </tr>
    </tbody>

</table>

<hr>

<span class="layui-badge layui-bg-cyan">icon</span>
<span class="layui-badge layui-bg-blue">icon</span>
<span class="layui-badge layui-bg-green">icon</span>
<span class="layui-badge-dot layui-bg-green"></span>
<br>

<i class="layui-icon layui-icon-face-smile"></i>
<i class="layui-icon layui-icon-windows"></i>
<br>

<a href="#" class="layui-btn">一个可跳转的按钮</a>
<a href="#" class="layui-btn layui-btn-primary layui-border-red">border green</a>

{% endblock content %}
