{% extends 'craft/base.html' %}

{% block title %}
station info
{% endblock title %}



{% block content %}


<h2>工位明细</h2>
<table data-search="true" data-show-columns="true" data-toggle="table"
       data-show-pagination-switch="true"
       class="text-center table-striped table-sm table table-bordered"
>
    <thead class="thead-dark">
    <tr>
        <th>table
        </th>
        <th>表名</th>
        <th data-sortable="true">项数 <bi class="bi bi-sort-numeric-up"></bi></th>
        <th>明细</th>
    </tr>
    </thead>

    <tbody>
        {% for xiangmu in table_instation_list %}
        <tr>
            {% with craft_list=craft_table_list[craft_table_list['is_craft'] == 1]['name'].to_list() %}
            <td>{{ xiangmu }}
                {% if xiangmu in craft_list %}
                <br>
                <a href="{{ url('craft:table_display',kwargs={'table_name':'controlplan'}) }}"><bi class="bi bi-file-earmark-word"></bi>控制计划</a>
                {% endif %}
            </td>
            {% endwith %}
            <td>{{ craft_table_list[craft_table_list['name'] == xiangmu]['mingcheng'].values[0] }}</td>
            <td>{{ station_dict[xiangmu].shape[0] }}</td>

            <td>
                {{ station_dict[xiangmu].to_html() | safe }}
            </td>

        </tr>
        {% endfor %}
    </tbody>

</table>

{% endblock content %}