{% extends 'craft/base.html' %}

{% block title %}
station info
{% endblock title %}



{% block content %}


<h2>工位明细</h2>
{% with %}
{% set craft_list=craft_table_list[craft_table_list['is_craft'] == 1]['name'].to_list() %}
<table  data-search="true" data-show-columns="true" data-toggle="table"
       data-show-pagination-switch="true"
       class="text-center table-striped table-sm table table-bordered"
>
    <thead class="thead-dark">
    <tr>
        <th>table
        </th>
        <th>表名</th>
        <th data-sortable="true">项数 <bi class="bi bi-sort-numeric-up"></bi></th>
        <th>明细</th>
    </tr>
    </thead>

    <tbody id="main_tbody">
        {% for xiangmu in table_instation_list %}
        <tr>
            <td>{{ xiangmu }}
                {% if xiangmu in craft_list %}
                <br>
                <a href="{{ url('craft:table_display',kwargs={'table_name':'controlplan'}) }}"><bi class="bi bi-file-earmark-word"></bi>控制计划</a>
                {% endif %}
            </td>
            <td>{{ craft_table_list[craft_table_list['name'] == xiangmu]['mingcheng'].values[0] }}</td>
            <td>{{ station_dict[xiangmu].shape[0] }}</td>

            <td>
                {{ station_dict[xiangmu].to_html() | safe }}
                {% if xiangmu in craft_list %}
                <br>
                <h3 class="text-left">控制计划要求</h3>
                {{ controlplan_df[controlplan_df['process']==xiangmu].to_html() | safe }}
                {% endif %}
            </td>

        </tr>
        {% endfor %}
    </tbody>

</table>
{% endwith %}

{% endblock content %}


{% block scripts %}
{{ super() }}

<script>
<!--定位零件号的单元格-->
$(document).ready(function(){
    part_table = $("#main_tbody>tr").filter(":contains(part)").children().find('tbody');
    pattern = /^[A|Q|9][\w|\d]{7,9}/gi;
    part_tds = part_table.find('td').filter(function(){
            return pattern.test(this.innerText)
        });

    part_tds.each(function(index, obj){
        $(obj).css('background-color', 'yellow');
        var icon = "<i class='bi bi-hand-index-thumb'> </i>";
        $(obj).prepend(icon);
    });

    part_tds.each(function(index,obj){
        lingjianhao = $(obj).text();
        $(obj).click(function(){
            location.href =location.origin + '/craft/part_info/'+lingjianhao;
            });
        });




    }); //总尾部括弧
</script>

{% endblock scripts %}