{% extends 'craft/base.html' %}

{% block title %}
craft home
{% endblock title %}

{% block content %}
<h4><strong>{{ table_name_mingcheng }} </strong>数据展示</h4>

<table
        class="layui-table" lay-even  lay-data="{id:'tableId', limit:10000, toolbar:true, cellMinWidth:110,}"
         lay-filter="demo",
>
    <thead>
    <tr>
        <th lay-data="{field:'operate', edit:'text',
                toolbar:'#barDemo', width:150, fixed:'left',
        }">数据操作</th>
        {% for col in header_list %}
        <th lay-data="{ field:'{{ col }}', sort:true
        {% if col != 'index' %}
            ,edit:'text'
        {% endif %}
        }">
            {{ col }}
        </th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in body_data %}
        <tr>
            <td></td>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

</table>
{% endblock content %}


{% block scripts %}
{{ super() }}
<script type="text/html" id="barDemo">
    <small><a class="layui-btn layui-btn-xs" lay-event="insert">新增</a></small>
    <small><a class="layui-btn layui-btn-xs" lay-event="edit">更新</a></small>
    <small><a class="layui-btn layui-btn-xs" lay-event="foucs">关注</a></small>

</script>

    <div id="foucs_date_form" style="display:none" class="container">
        <form class="layui-form" method="post" action=".">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

            <div class="layui-form-item">
                <label class="layui-form-label">关注开始</label>
                <div class="layui-input-block">
                    <input id="input_daily_start" class="layui-input" type="date" name="daily_start" placeholder="请输入关注时间段的开始日期">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">关注结束</label>
                <div class="layui-input-block">
                    <input id="input_daily_end" type="date" class="layui-input" name="daily_end" placeholder="请输入关注时间段的结束日期">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">发布人</label>
                <div class="layui-input-block">
                    <input type="text" id="input_daily_faburen" class="layui-input" name="daily_fabufren" placeholder="请输入发布人姓名">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">所属线体</label>
                <div class="layui-input-block">
                    <select name="line" id="input_daily_line" name="daily_line">
                        <option value=""></option>
                        {% for line in line_list %}
                        <option value="{{ line }}">{{ line }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">关注工位</label>
                <div class="layui-input-block">
                    <input type="text" id="input_daily_station" class="layui-input" name="daily_station" placeholder="请输入关注工位">
                </div>
            </div>

        </form>
    </div>

    <div id="edit_row_form">
        <form class="layui-form" method="post" action=".">
            {% for col in header_list %}
            {% if col != 'index' %}

            <div class="layui-form-item">
                <label class="layui-form-label">{{ col }}</label>
                <div class="layui-input-block">
                    <input type="text" id="edit_daily_{{ col }}" class="layui-input" name="daily_station" >
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </form>
    </div>
<script>
var table = layui.table;
table.on('tool(demo)',function(obj){
    var data0 = obj.data;  //当前行全部数据
    var data1 = new Object;     //当前行表格数据
    {% for key in header_list %}
        data1['{{key}}'] = data0['{{key}}'];
    {% endfor %}

    var table_name = '{{ table_name }}';    //把当前表名称传过去

    data = new Object;
    data['row_data'] = data1;
    data['table_name'] = table_name;

    var layEvent = obj.event;   //获取lay-event 对应的值
    var tr = obj.tr;    //获取当前行tr的DOM对象

    if (layEvent == 'insert'){
        layer.msg('click insert');
        data_insert = data;
        $.ajax({
            url:"{{ url('craft:table_display_insert') }}",
            data:JSON.stringify(data_insert),
            type:'POST',

            success:function(result){
                location.reload();
                layer.msg(result, {time: 3000});
            },
            fail:function(result){
                layer.msg('failed', {time: 3000});
            },

        })

    } else if(layEvent == 'edit'){

        layer.open({
            type: 1,
            title: '编辑新增条目',
            btn:['确认更新', '取消'],
            content: $("#edit_row_form"),
            success: function(layero, index){

                {% for col in header_list %}
                {% if col != 'index' %}
                    $("#edit_daily_{{ col }}").val(data1['{{ col }}']);
                {% endif %}
                {% endfor %}
            },

            btn1: function(){
                layer.msg('手动填写edit', {time:3000});

                data_input = new Object;
                {% for col in header_list %}
                {% if col != 'index' %}
                    data_input['{{ col }}'] = $("#edit_daily_{{ col }}").val();
                {% endif %}
                {% endfor %}
                data_input['index'] = data1['index'];

                data_edit = new Object;
                data_edit['row_data'] = data_input;
                data_edit['table_name'] = table_name;

                $.ajax({
                    url:"{{ url('craft:table_display_edit') }}",
                    data:JSON.stringify(data_edit),
                    type:'POST',

                    success:function(result){
                        location.reload();
                        layer.msg(result, {time: 3000});
                    },
                    fail:function(result){
                        layer.msg('failed', {time: 3000});
                    },
                })
            }


        })





    } else if(layEvent == 'foucs'){
        layer.msg('click foucs');
        var foucs_data = {};
        foucs_data['context'] = data;
        foucs_data['table_name'] = "{{ table_name_mingcheng }}";

        layer.open({
            type: 1,
            title: '编辑关注信息',
            btn:['提交关注', '取消'],
            content: $("#foucs_date_form"),

            btn1: function(){
                var foucs_data_daily_start = $("#input_daily_start").val();
                var foucs_data_daily_end = $("#input_daily_end").val();
                var foucs_data_daily_faburen = $("#input_daily_faburen").val();
                var foucs_data_daily_station = $("#input_daily_station").val();
                var foucs_data_daily_line = $("#input_daily_line").val();
                foucs_data['daily_start'] = foucs_data_daily_start;
                foucs_data['daily_end'] = foucs_data_daily_end;
                foucs_data['daily_faburen'] = foucs_data_daily_faburen;
                foucs_data['daily_station'] = foucs_data_daily_station;
                foucs_data['daily_line'] = foucs_data_daily_line;

                // btn内部运行ajax
                $.ajax({
<!--                    url:"{{ url('craft:foucs_add') }}",-->
                    url: "{{ url('daily_focus:record_add_focus') }}",
                    data: JSON.stringify(foucs_data),
                    type: 'POST',

                    success: function(result){
                        layer.close(layer.index);
                        layer.msg('该项目已加入【今日关注】，您可以移步查看', {time: 3000});
                    },

                    fail: function(result){
                        layer.msg('抱歉！添加失败，请再次尝试或联系管理员。')
                    }

                });

            },
        });

    }

});

</script>
<script>
    //线体工位联动选择

var last_val = $("#input_daily_line").val();
var station_select = null;
setInterval(function(){
    var now_val = $("#input_daily_line").val();
    if (now_val != last_val){

        var line_station_dict = JSON.parse('{{ line_station_dict | tojson | safe }}')
        station_select = $('<select name="station" id="layer_pop_station"></select>');
        var option0 = $('<option value=""></option>');
        station_select.append(option0);
        for ( let station of line_station_dict[now_val]){
            let option = $('<option value="' + station + '">' +  station + '</option>');
            station_select.append(option);
        }


        last_val = now_val;
    }
},1000);

$("#id_line_select").change(function(){
    layer.msg('onchange run');
    line = $("#id_line_select").val();
    line_station_dict = JSON.parse('{{ line_station_dict | tojson | safe }}')

    station_select = $('<select name="station"></select>');
    option0 = $('<option value=""></option>');
    station_select.append(option0);
    for ( let station of line_station_dict[line]){
        option = $('<option value="' + station + '">' +  station + '</option>');
        station_select.append(option);
    }

    $("#id_station_select").append(station_select);

});

$("#input_daily_station").focus(function(){
    layer.open({
        type: 1,
        title: '选择工位',
        content: $(station_select).prop("outerHTML"),
        btn:['确定', '取消'],

        yes: function(){
            //把弹出框选择的值，写到输入框中，然后关掉弹出框。
            $("#input_daily_station").val($("#layer_pop_station").val());
            layer.close(layer.index);
        },


    });

});

</script>
{% endblock scripts %}