{% extends 'craft/base.html' %}

{% block title %}
craft home
{% endblock title %}

{% block content %}
<h4><strong>{{ table_name_mingcheng }} </strong>数据展示</h4>
<a class="btn btn-info text-right" href="{{ url('craft:table_display_user',kwargs={'table_name':table_name}) }}">登陆编辑</a>

<table   data-toggle="table" data-show-columns="true" data-search="true"
         data-show-pagination-switch="true"
         class="table-striped table-sm table table-bordered"
>
    <thead class="thead-dark">
    <tr>
        {% for col in header_list %}
        <th data-sortable="true">{{ col }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for row in body_data %}
        <tr>
            {% for item in row %}
            <td>{{ item }}</td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

</table>

{% endblock content %}
