{% extends 'craft/base.html' %}

{% block title %}
craft home
{% endblock title %}

{% block content %}
<h2>bootstrap-table test</h2>
<table id="table" data-search="true" data-show-columns="true">
    <thead>
    <tr>
        {% for column in header %}
        <th data-field="{{ column }}">{{ column }}</th>
        {% endfor %}
    </tr>
    </thead>

</table>

{% endblock content %}


{% block scripts %}
    {{ block.super }}

<script>
    var $table = $('#table');

    $(function(){

        var data1 = '{{ body_data | safe }}';
        var data = JSON.parse(data1);

        $table.bootstrapTable({data:data});

    })

</script>

{% endblock scripts %}